/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: Oregon;
    src: url(../../fonts/ORD_____.TTF);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.container-fluid, .row{
    --bs-gutter-x:0px !important;
}

.title{
    text-transform: uppercase;
    color: black;
    font-size: 40px;
    font-family: Oregon;
}


/* SIDEBAR */
.nav-link{
    color: black;
    text-transform: uppercase;
    font-weight: bolder;
}
.nav-link:hover{
    color: #09c7e0;
}

.tab-link{
    color: black;
    text-decoration: none;
}

.tab-link:hover{
    color: #09c7e0;
}

.nv{
    background-color: white;
    box-shadow: 0 1px 20px 0 rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
}

.navpad{
    padding-left: 20px;
    padding-right: 20px;
}

.seccontent{
    margin-top: 100px;
    background-color: transparent;
}

#aboutuscard{
    display: grid;
}

.card{
    min-height: 100px;
    margin: 10px;
    padding: 20px;
    border: none;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
    justify-content: center;

    .cardtitle{
        text-transform: uppercase;
        font-weight: bolder;
        color: black;
        font-size: x-large;
    }
}

.cardfortitle{
    background-color: #0091a1;
    margin: 5px;
    padding: 5px;
    border: none;
    justify-content: center;
}

.edit{
    text-align: end;
}

.tabsection{

    h5{
        text-transform: uppercase;
        font-weight: bolder;
        text-align: center;
        color: white;
        margin: 0px 0px 0px;
    }
}