/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: Oregon;
    src: url(fonts/ORD_____.TTF);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}




/* SMOOTH SCROLL BEHAVIOUR */
html{scroll-behavior:smooth}



/* STYLING BUTTONS*/
.button{
    appearance: none;
    border: none;
    outline: none;
    background: none;

    display: inline-block;
    color: black;
    font-size: 14px;
    background-color: white;
    margin-top: 30px;
    padding: 10px 16px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 200;
    cursor: pointer;
    text-decoration: none;
    font-weight: 450;
}



/* CONTAINERS */
.containers{
    max-width: 1600px;
    margin: 0 auto;
    padding-left: 150px;
    padding-right: 150px;
    align-items: center;

    @media (max-width: 1460px){
        padding-left: 100px;
        padding-right: 100px;
    }

    @media (max-width: 1024px){
        padding-left: 64px;
        padding-right: 64px;
    }

    @media (max-width: 767px) {
		padding-left: 32px;
		padding-right: 32px;
	}
}


/* SUBHEADINGS */
section h2{
    margin-bottom: 30px;
}
section h2 a{
    text-transform: uppercase;
    color: #313131;
    font-size: 40px;
    font-weight: 550;
    font-family: Oregon;
    text-decoration: none;
}


/* NAVBAR */
nav{
    box-shadow: none;
    .containers{
        padding-top: 20px;
        padding-bottom: 10px;
        padding-left:   120px;
        padding-right:   120px;

        .dostpuso{
            display: flex;
            text-decoration: none;
            color: #313131;
            align-items: center;
    
            #title-logo{
                width: 60px;
                height: auto;
            }
    
            #title-name{
                font-family:  Oregon;
                font-size: 35px;
                
            }
        }

        .nav-item{
            font-weight: 600;
            padding-right: 25px;
        }
    }
}
/* Navbar transparent bg when at top */
#navbar{
    background-color: transparent !important;
    box-shadow: none !important;
}
/* Navbar white bg when scrolling */
#navbar.white-bg {
    background-color: white !important;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1) !important;
}



/* MAIN */
main{

    /* BANNER */
    .bannerslideshow{
        color: black;
        position: relative;
        min-height: 100vh;
        display: flex;
        align-items: center;
        padding-top: 80px;

        background-position: top;
        background-size: cover; 

        &:after{
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 0;
            background-color: #E2FBFF;
            opacity: 0.8;
        }
    
        .containers{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 50px;
            z-index: 1;

            .banner-text{

                @media (max-width: 1280px) {
                    text-align: center;
                    grid-column: span 2;
                }

                @media (max-width: 1000px) {
                    transform:scale(0.9); 
                    transform-origin: center center;
        
                    -webkit-transform:scale(0.9); 
                    -webkit-transform-origin: center center;
                }

                @media (max-width: 800px) {
                    transform:scale(0.8); 
                    transform-origin: center center;
        
                    -webkit-transform:scale(0.9); 
                    -webkit-transform-origin: center center;
                }

                @media (max-width: 600px) {
                    transform:scale(0.8); 
                    transform-origin: center center;
        
                    -webkit-transform:scale(0.9); 
                    -webkit-transform-origin: center center;
                }

                #banner-logo{
                    width: 30%;
                    height: auto;
                    margin-top: 100px;
                }
    
                #main-title{
                    font-size: 65px;
                    font-family: Oregon;
                }
                #main-p{
                    margin-top: 20px;
                    font-size: 16px;
                    font-weight: 450;
                    margin-bottom: 10px;
                    line-height: 1.5;
                }

                @media (max-width: 576px) {
                    .bbtngrid{
                        display: grid !important;
                    }
                }
            }

            .banner-img{
                display: flex;
                align-items: center;
                padding-left: 50px;

                @media (max-width: 1280px) {
                    display: none;
                }

                .slideshow-image{
                    grid-column: span 2;
                    max-width: 1000px;
                    position: relative;
                    margin: auto;
                    z-index: 2;
                    
                    .images-slides {
                        display: none;
                        border-radius: 1rem;
                    }
        
                    .arrowleft, .arrowright {
                        cursor: pointer;
                        position: absolute;
                        top: 50%;
                        width: auto;
                        margin-top: -32px;
                        padding: 10px;
                        color: white;
                        font-weight: bold;
                        font-size: 30px;
                        transition: 0.6s ease;
                        border-radius: 100px;
                        user-select: none;
                    }
        
                    .arrowright {
                        right: 0;
                        margin-right: 10px;
                    }

                    .arrowleft{
                        margin-left: 10px;
                    }
        
                    .arrowleft:hover, .arrowright:hover {
                        background-color: rgba(0,0,0,0.8);
                    }
    
                    .dots{
                        position: absolute;
                        bottom: 2%;
                        margin-left: auto;
                        margin-right: auto;
                        left: 0;
                        right: 0;
                        text-align: center;
                        
        
                        .dot{
                            cursor: pointer;
                            height: 10px;
                            width: 10px;
                            margin: 0 2px;
                            background-color: #636161;
                            border-radius: 50%;
                            display: inline-block;
                            transition: background-color 0.6s ease-in-out;
                        }
    
                        .dot:hover {
                            background-color: white;
                        }
    
                        .active {
                            background-color: white;
                        }
                    }
        
                    .f {
                        animation-name: f;
                        animation-duration: 1.5s;
                    }
        
                    @keyframes f {
                        from {opacity: .8}
                        to {opacity: 1}
                    }
                }
                

                #hhh{
                    position: absolute;
                    background-color: #34C1D5;
                    width: 500px;
                    height: 300px;
                    border-radius: 10px;
                    z-index: 1;
                    margin-left: 70px;
                    margin-bottom: 70px;

                    @media (max-width: 1380px) {
                        transform:scale(0.9); 
                        transform-origin: center center;
            
                        -webkit-transform:scale(0.9); 
                        -webkit-transform-origin: center center;
                    }

                    @media (max-width: 1350px) {
                        transform:scale(0.8); 
                        transform-origin: center center;
            
                        -webkit-transform:scale(0.8); 
                        -webkit-transform-origin: center center;
                    }

                    @media (max-width: 1280px) {
                        display: none;
                    }

                }
            }

            .banner-img:hover{
                transform: scale(1.1);
                transition: 0.3s ease-in-out;
            }

            .joinus{
                background-color: #09c7e0;
                color: white;
            }
        }
    }

    /* ABOUT US */
    .aboutus{
        .containers {
            padding-top: 64px;
            padding-bottom: 64px;

            @media (min-width: 1300px) {
                #ab-seemore {
                    display: none;
                }
            }

            @media (max-width: 1300px) {
                .aboutus-def {
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 10;
                    line-clamp: 10;
                    -webkit-box-orient: vertical;
                }
            }

            .officers-img {
                height: auto;
                width: 100%;
                margin: auto;
    
                .officers {
                    display: none;
                    border-radius: 1rem;
                }
    
                .prevv,
                .nextt {
                    cursor: pointer;
                    position: absolute;
                    top: 50%;
                    width: auto;
                    margin-top: -22px;
                    padding: 12px;
                    color: #34C1D5;
                    font-weight: bold;
                    font-size: 30px;
                    transition: 0.6s ease;
                    user-select: none;
                    border-radius: 100px;
                }
    
                .nextt {
                    right: 0;
                }
    
                .prevv:hover,
                .nextt:hover {
                    background-color: rgba(0, 0, 0, 0.8);
                }
    
                .fadee {
                    transition: opacity 0.3s ease-in-out;
                }
    
                @keyframes fadee {
                    from {
                        opacity: 0.8;
                    }
                    to {
                        opacity: 1;
                    }
                }
            }


    
            .officers-img .officers {
                transition: transform 0.3s ease-in-out;
            }
    
            .officers:hover {
                transform: scale(1.1);
                transition: transform 0.3s ease-in-out;
            }

            .slideshow-text {
                text-align: justify;
                line-height: 1.5;
                padding-left: 50px;
                font-size: 16px;
            }

            
        }
    }

    /* CALENDAR OF ACTIVITIES */
    .calendar{

        .containers{
            background-image: url('img/waves/wave2.png');
            background-size: cover;
            padding-bottom: 50px;
            padding-top: 40px;
            
            .cal-container{
                margin-left: 20px;
                margin-right: 20px;
                display: grid;
                grid-template-columns: repeat(4,1fr);
                box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
                border-radius: 10px;

                .projects{
                    grid-column: span 3;
                    
                    .cal-def{
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                                line-clamp: 1;
                        -webkit-box-orient: vertical;
                    }
    
                    .cal-day, .cal-my{
                        color: #09c7e0;
                        font-weight: bold;
                    }

                    .cal-day{
                        font-size: larger;
                    }
    
                    .cal-pad{
                        padding-left: 50px;
                    }

                    .cal-scroll{
                        max-height: 450px;
                        overflow-y: auto;
                    }

                    #cal-title{
                        font-size: 12px;
                    }

                    .cal-scroll::-webkit-scrollbar {
                        height: 0px;
                        width: 5px;
                    }
        
                    .cal-scroll:hover::-webkit-scrollbar {
                        height: 10px;
                        width: 5px;
                        transition: width 0.5s ease-in-out;
                    }
        
                    .cal-scroll::-webkit-scrollbar-thumb {
                        background-color: #09c7e0;
                        border-radius: 100px;
                        transition: background-color 0.5s ease-in-out;
                    }
        
                    .cal-scroll::-webkit-scrollbar-track {
                        background-color: #ccc;
                        border-radius: 100px;
                    }
        
                    .cal-scroll:hover::-webkit-scrollbar-track {
                        background-color: #ccc;
                        transition: background-color 0.5s ease-in-out;
                    }
        
                    .cal-scroll:hover::-webkit-scrollbar-thumb {
                        background-color: #09c7e0;
                        border-radius: 50px;
                        transition: background-color 0.5s ease-in-out;
                        transform: scaleX(1.5);
                    }
    
                }
    
                .calendar-latest{
                    grid-column: span 1;
                    background-image: url('img/calendar/calendar.png');
                    background-position: center;
                    background-repeat: no-repeat;
                    height: 200px;
                    border-radius: 20px;
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    align-items: center;
                    box-shadow: 0px 6px 12px rgba(0,0,0,0.1);
                    padding-top: 50px;
                
                    #latest-month-year{
                        font-size: 30px;
                        color: #09c7e0;
                        font-weight: bolder;
                    }
    
                    #latest-day{
                        font-size: 60px;
                        color: #09c7e0;
                        font-weight: bolder;
                    }
    
                    #latest-event{
                        padding-top: 10px;
                    } 
                }

                @media (max-width:1100px) {
                    .wrapper{
                        display: none;
                    }
                    .projects{
                        grid-column: span 4;
                    }
                }
    
                .calendar-latest:hover{
                    transform: translateY(-20px) scale(1.1);
                    transition: 0.3s ease-in-out;
                }

                .wrapper{
                    width: 400px;
                    background: #fff;
                    border-radius: 10px;
                }
                .wrapper .header{
                    display: flex;
                    align-items: center;
                    padding: 25px 30px 10px;
                    justify-content: space-between;
                }
                .header .icons{
                    display: flex;
                }
                .header .icons span{
                    height: 38px;
                    width: 38px;
                    margin: 0 1px;
                    cursor: pointer;
                    color: #878787;
                    text-align: center;
                    line-height: 38px;
                    font-size: 1.9rem;
                    user-select: none;
                    border-radius: 50%;
                }
                .icons span:last-child{
                    margin-right: -10px;
                }
                .header .icons span:hover{
                    background: #f2f2f2;
                }
                .header .current-date{
                    font-size: 1.45rem;
                    font-weight: 500;
                }
                .calendar{
                    padding: 20px;
                }
                .calendar ul{
                    display: flex;
                    flex-wrap: wrap;
                    list-style: none;
                    text-align: center;
                }
                .calendar .days{
                    margin-bottom: 20px;
                }
                .calendar li{
                    color: #333;
                    width: calc(100% / 7);
                    font-size: 1.07rem;
                }
                .calendar .weeks li{
                    font-weight: 500;
                    cursor: default;
                }
                .calendar .days li{
                    z-index: 1;
                    cursor: pointer;
                    position: relative;
                    margin-top: 30px;
                }
                .days li.inactive{
                    color: #aaa;
                }
                .days li.active{
                    color: #fff;
                }
                .days li::before{
                    position: absolute;
                    content: "";
                    left: 50%;
                    top: 50%;
                    height: 40px;
                    width: 40px;
                    z-index: -1;
                    border-radius: 50%;
                    transform: translate(-50%, -50%);
                }
                .days li.active::before{
                    background: #09c7e0;
                }
                .days li:not(.active):hover::before{
                    background: #f2f2f2;
                }

                ol, ul {
                    padding-left: 0rem;
                }
            }
            
        }
    }

    /* GALLERY */
    .gallery{

        .containers{
            padding-left: 0;
            padding-right: 0;
            background-color: #E2FBFF;
            padding-top: 30px;

            .programs{
                width: 100%;
                overflow-x: auto;
                scrollbar-width: thin;
                scrollbar-color: #ccc #f1f4fd;
                display: flex;

                .program{
                    display: flex;
                    flex: 0 0 auto;
                    width: 250px;
                    object-fit: cover;
                    white-space: normal;
                    overflow-x: hidden;
                    transition: transform 0.3s ease-in-out;
                    background-size: cover;
                    background-position: center;

                    .content{
                        display: block;
                        padding: 45px;
                        opacity: 0;
                        color: white;
                        background-color: rgba(0,0,0,0.6);

                        .programname{
                            font-weight: 600;
                            font-size: 14px;
                            overflow: hidden;
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                                    line-clamp: 2;
                            -webkit-box-orient: vertical;

                        }

                        .programdef{
                            font-size: 12px;
                            padding-top: 3px;
                            text-align: justify;
                            overflow: hidden;
                            display: -webkit-box;
                            -webkit-line-clamp: 3;
                                    line-clamp: 3;
                            -webkit-box-orient: vertical;
                        }

                    }

                    &:hover{
                        .content{
                            opacity: 1;
                        }
                    }
                }
            }
            .programs::-webkit-scrollbar {
                height: 0px;
                width: 5px;
            }

            .programs:hover::-webkit-scrollbar {
                height: 10px;
                width: 5px;
                transition: width 0.5s ease-in-out;
            }

            .programs::-webkit-scrollbar-thumb {
                background-color: #09c7e0;
                border-radius: 100px;
                transition: background-color 0.5s ease-in-out;
            }

            .programs::-webkit-scrollbar-track {
                background-color: #ccc;
                border-radius: 100px;
            }

            .programs:hover::-webkit-scrollbar-track {
                background-color: #ccc;
                transition: background-color 0.5s ease-in-out;
            }

            .programs:hover::-webkit-scrollbar-thumb {
                background-color: #09c7e0;
                border-radius: 50px;
                transition: background-color 0.5s ease-in-out;
                transform: scaleX(1.5);
            }
        }
    }
 
    /* LATEST NEWS*/
    .latest-news{

        .containers{
            padding-top: 64px;
            padding-bottom: 64px;

            .latest-news-grid{
                display: grid;
                grid-template-columns: repeat(4,1fr);
                grid-gap: 16px;
    
                @media (max-width: 1024px){
                    grid-template-columns: repeat(3,1fr);
                }

                @media (max-width: 615px) {
					grid-template-columns: repeat(2,1fr);
				}

                @media (max-width: 500px) {
					grid-template-columns: repeat(1,1fr);
				}
    
                .news{
                    background-color: white;
                    border-radius: 2px;
                    overflow: hidden;
                    box-shadow: 0px 6px 12px rgba(0,0,0,0.1);

                    .news-img-box{
                        display: block;
                        width: 100%;
    
                        .news-img{
                            display: block;
                            width: 100%;
                            height: 150px;
                            object-fit: cover;
                        }
                    }
                    .news-content{
                        padding: 12px;
                        word-break: break-all;
                        grid-column: span 3;

                        .news-date{
                            padding-top: 5px;
                            font-style: oblique;
                            font-size: 80%;
                            margin-bottom: 0;
                        }

                        .news-title{
                            font-weight: 600;
                            padding-top: 5px;
                            margin-bottom: 0;
                            overflow: hidden;
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                                    line-clamp: 2;
                            -webkit-box-orient: vertical;

                        }

                        .news-def{
                            font-size: 80%;
                            padding-top: 5px;
                            padding-top: 5px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-line-clamp: 3;
                                    line-clamp: 3;
                            -webkit-box-orient: vertical;
                        }

                    }
                        
                }
            }

        }
    }

    /* CONTACTS */
    .contact{
		background-color: white;
        background-image: url('img/waves/wave3.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 600px;

		.containers{
			padding-top: 110px;
			padding-bottom: 64px;

			.contact-form{
				display: grid;
                grid-template-columns: repeat(3,1fr);

                .contact-us-grid{
                    grid-column: span 1;
                    padding-right: 20%;
                    margin: auto;
                    
                    .get-in-touch{
                        font-size: 32pt;
                    }
                    .fill-get{
                        text-align: justify;
                        font-size: 12pt;
                    }
                
                  
                }

                .form-grid{
                    grid-column: span 2;
                    display: grid;
                    grid-template-columns: auto;
                    grid-gap: 10px;
                    

                    .form-text, .form-mes{
                        display: block;
                        box-shadow: rgba(0, 0, 0, 0.9) 10px;
                        border: 2px solid white;
                        border-radius: 5px;
                        outline: none;
                        padding: 12px;
                        font-size: 10pt;
                        color: #313131;

                        &::placeholder {
							color: #aaa;
						}

                        
                    }

                    .form-text:focus, .form-mes:focus {
                        border-color: #3498db;
                    }

                    
                }

                @media (max-width:855px) {
                    grid-template-columns: repeat(2,1fr);
    
                    .contact-us-grid{
                        grid-column: span 2;
                        padding-right: 0;
                    }

                    .form-grid{
                        grid-template-columns: auto auto;
                        grid-gap: 10px;
                    }
                }
			}

            .button{
                background-color: #34C1D5;
                display: flex;
                justify-content: flex-end;
                margin-left: auto;
                color: white;
                margin-top: 10px;
            }
		}
	}
    
}

/* FOOTER */
footer{
    background-color: white;
    align-items: center;

    #fttitle{
        font-weight: 800;
    }
}



/* Remove the default padding from bootstrap */
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0rem;
}

/* Back to top button */
#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(0,0,0,0.6);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    transition: right 0.3s ease;
}

/* Modal */
.custom-modal-content {
    width: 90%;
    margin: auto;
}

/* Label */
.blue-uppercase-label {
    text-transform: uppercase;
    color: black;
}

/* CHANGE THE DEFAULT BG COLOR OF DROPDOWN -ITEM */
.dropdown-item:hover{
    background-color: #09c7e0  !important;
}


.no-border {
    border: 0;
}

.animated-icon {
    animation: rotateAnimation 1s infinite; /* Adjust the animation properties */
}

@keyframes rotateAnimation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}




