@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: Oregon;
    src: url(../fonts/ORD_____.TTF);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

html{scroll-behavior:smooth}

.button{
    appearance: none;
    border: none;
    outline: none;
    background: none;

    display: inline-block;
    color: black;
    font-size: 14px;
    background-color: white;
    margin-top: 30px;
    padding: 15px 16px;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 200;
    cursor: pointer;
    text-decoration: none;
    font-weight: 450;

    

    @media (max-width: 767px) {
		font-size: 18px;
	}
}

.button:hover{
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

.containers{
    max-width: 1600px;
    margin: 0 auto;
    padding-left: 150px;
    padding-right: 150px;
    align-items: center;

    @media (max-width: 1024px){
        padding-left: 64px;
        padding-right: 64px;
    }

    @media (max-width: 767px) {
		padding-left: 32px;
		padding-right: 32px;
	}
}

section h2{
    margin-bottom: 30px;
}

section h2 a{
    text-transform: uppercase;
    color: #313131;
    font-size: 40px;
    font-weight: 550;
    font-family: Oregon;
    text-decoration: none;
}

img{
    max-width: 100%;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;

    .containers{
        padding-top: 32px;
        padding-bottom: 32px;
        display: flex;
        justify-content: space-between; 

        .dostpuso{
            display: flex;
            text-decoration: none;
            color: #313131;
            align-items: center;

            #title-logo{
                width: 80px;
                height: auto;
            }
    
            #title-name{
                font-family:  Oregon;
                font-size: 35px;
                
            }
        
        }
        .navbar{
            margin-left: auto;
            padding: 0.5rem 1.5rem;
            
            @media (max-width: 767px) {
                display: none;
            }
            
            .navlinks{
                display: flex;
                gap: 2rem;

                .navlink, .dropdown{
                    list-style: none;
                    height: 100%;
                    padding: 0.5rem;
                    font-weight: 600;
                    cursor: pointer;
                }

                .navlink a{
                    text-decoration: none;
                    color: currentColor;
                }

                .dropdown::before{
                    position: absolute;
                    content: '';
                    height: 20px;
                    width: 20px;
                    background: white;
                    left: 20px;
                    top: -1px;
                    transform: rotate(45deg);
                    z-index: -1;
                }

                .dropdown{
                    position: absolute;
                    margin: 0.5rem -0.5rem;
                    height: auto;
                    background: white;
                    color: black;
                    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
                    border-radius: 0.3rem;
                    font-size: 15px;
                    display: none;
                }

                .navlink:hover{
                    color: #09c7e0;
                }

                .dropdown-arrow:hover .dropdown{
                    display: block;
                }

                .dropdown-arrow a{
                    display: flex;
                }

                .dropdown-arrow .dropdown-icon{
                    font-size: 20px;
                    position: relative;
                    right: -5x;
                    transform: rotate(0deg);
                    transition: 0.3s ease-in-out all;
                }

                .dropdown-arrow:hover .dropdown-icon{
                    transform: rotate(180deg);
                }

                .dropdown li{
                    padding: 10px;
                    padding-left: 25px;
                    padding-right: 25px;
                }

                .dropdown li:hover{
                    color: #34C1D5;
                    border-radius:  0.5rem;

                }
            }
        }
    }

    &.is-scrolling {
		background-color: white;
        box-shadow: 0 1px 20px 0 rgba(0,0,0,.2);

		.containers {
			padding-top: 16px;
			padding-bottom: 16px;
            border-radius: 20px;
		} 
	}

}

main{

    .bannerslideshow{
        color: black;
        position: relative;
        min-height: 100vh;
        display: flex;
        align-items: center;
        padding-top: 80px;

        background-position: top;
        background-size: cover; 

        &:after{
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 0;
            background-color: #E2FBFF;
            opacity: 0.8;
        }
    
        .containers{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 50px;
            z-index: 1;

            .banner-text{
                padding-left: 50px;

                #banner-logo{
                    width: 30%;
                    height: auto;
                    margin-top: 100px;
                }
    
                #main-title{
                    font-size: 65px;
                    font-family: Oregon;
                }
                #main-p{
                    margin-top: 20px;
                    font-size: 16px;
                    font-weight: 450;
                    margin-bottom: 10px;
                    line-height: 1.5;
                }
            }

            .banner-img{
                display: flex;
                align-items: center;
                padding-left: 50px;

                .slideshow-image{
                    grid-column: span 2;
                    max-width: 1000px;
                    position: relative;
                    margin: auto;
                    z-index: 2;
                    
                    .images-slides {
                        display: none;
                        border-radius: 1rem;
                    }
        
                    .arrowleft, .arrowright {
                        cursor: pointer;
                        position: absolute;
                        top: 50%;
                        width: auto;
                        margin-top: -32px;
                        padding: 10px;
                        color: white;
                        font-weight: bold;
                        font-size: 30px;
                        transition: 0.6s ease;
                        border-radius: 100px;
                        user-select: none;
                    }
        
                    .arrowright {
                        right: 0;
                        margin-right: 10px;
                    }

                    .arrowleft{
                        margin-left: 10px;
                    }
        
                    .arrowleft:hover, .arrowright:hover {
                        background-color: rgba(0,0,0,0.8);
                    }
    
                    .dots{
                        position: absolute;
                        bottom: 2%;
                        margin-left: auto;
                        margin-right: auto;
                        left: 0;
                        right: 0;
                        text-align: center;
                        
        
                        .dot{
                            cursor: pointer;
                            height: 10px;
                            width: 10px;
                            margin: 0 2px;
                            background-color: #636161;
                            border-radius: 50%;
                            display: inline-block;
                            transition: background-color 0.6s ease-in-out;
                        }
    
                        .dot:hover {
                            background-color: white;
                        }
    
                        .active {
                            background-color: white;
                        }
                    }
        
                    .f {
                        animation-name: f;
                        animation-duration: 1.5s;
                    }
        
                    @keyframes f {
                        from {opacity: .8}
                        to {opacity: 1}
                    }
                }

                #hhh{
                    position: absolute;
                    background-color: #34C1D5;
                    width: 500px;
                    height: 300px;
                    border-radius: 10px;
                    z-index: 1;
                    margin-left: 70px;
                    margin-bottom: 70px;
                }
            }

            .banner-img:hover{
                transform: scale(1.1);
                transition: 0.3s ease-in-out;
            }

            .joinus{
                background-color: #09c7e0;
                color: white;
                margin-left: 10px;
            }
        }
    }

    .about-us{
        background-color: white;
        
        .containers{
            padding-top: 64px;
			padding-bottom: 64px;
            display: grid;
            grid-template-columns: auto auto;
            grid-gap: 50px;
            

            .officers-img{
                height: 500px;
                width: 500px;
                position: relative;
                max-width: 1000px;
                
                .officers{
                    display: none;
                    border-radius: 1rem;
                }
    
                .prevv, .nextt {
                    cursor: pointer;
                    position: absolute;
                    top: 50%;
                    width: auto;
                    margin-top: -22px;
                    padding: 12px;
                    color: #34C1D5;
                    font-weight: bold;
                    font-size: 30px;
                    transition: 0.6s ease;
                    user-select: none;
                    border-radius: 100px;
                }
    
                .nextt {
                    right: 0;
                    
                }
    
                .prevv:hover, .nextt:hover {
                    background-color: rgba(0,0,0,0.8);
                }

                .fadee{
                    animation-name: fadee;
                    animation-duration: 1.5s;
                }
    
                @keyframes .fadee{
                    from {opacity: .8}
                    to {opacity: 1}
                }
            }

            .officers-images{
                width: 400px;
            }
            .officers-images .officers {
                transition: transform 0.3s ease-in-out;
            }

            .officers:hover{
                transform: scale(1.1);
                transition: 0.3s ease-in-out;
            }

            .slideshow-text{
                text-align: justify;
                line-height: 1.5;

                /* .section-title a{
                    text-decoration: none;
                    color: #313131;
                    fon
                } */
            }
            
        }
        
    }

    .calendar{

        .containers{
            background-image: url('img/waves/wave2.png');
            background-size: cover;
            padding-bottom: 50px;
            padding-top: 40px;

            #calendar-ay{
                font-family: Oregon;
            }
            
            .cal-container{
                margin-left: 100px;
                margin-right: 100px;
                display: grid;
                grid-template-columns: repeat(4,1fr);
                box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
                border-radius: 10px;

                .projects{
                    grid-column: span 3;
                    

                    .cal-def{
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                                line-clamp: 1;
                        -webkit-box-orient: vertical;
                    }
    
                    .cal-day, .cal-my{
                        color: #09c7e0;
                        font-weight: bold;
                    }

                    .cal-day{
                        font-size: larger;
                    }
    
                    .cal-pad{
                        padding-left: 50px;
                    }

                    .cal-scroll{
                        max-height: 400px;
                        overflow-y: auto;
                    }

                    #cal-title{
                        font-size: 12px;
                    }

                    .cal-scroll::-webkit-scrollbar {
                        height: 0px;
                        width: 5px;
                    }
        
                    .cal-scroll:hover::-webkit-scrollbar {
                        height: 10px;
                        width: 5px;
                        transition: width 0.5s ease-in-out;
                    }
        
                    .cal-scroll::-webkit-scrollbar-thumb {
                        background-color: #09c7e0;
                        border-radius: 100px;
                        transition: background-color 0.5s ease-in-out;
                    }
        
                    .cal-scroll::-webkit-scrollbar-track {
                        background-color: #ccc;
                        border-radius: 100px;
                    }
        
                    .cal-scroll:hover::-webkit-scrollbar-track {
                        background-color: #ccc;
                        transition: background-color 0.5s ease-in-out;
                    }
        
                    .cal-scroll:hover::-webkit-scrollbar-thumb {
                        background-color: #09c7e0;
                        border-radius: 50px;
                        transition: background-color 0.5s ease-in-out;
                        transform: scaleX(1.5);
                    }
    
                }
    
                .calendar-latest{
                    grid-column: span 1;
                    background-image: url('img/calendar/calendar.png');
                    background-position: center;
                    background-repeat: no-repeat;
                    height: 200px;
                    border-radius: 20px;
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    align-items: center;
                    box-shadow: 0px 6px 12px rgba(0,0,0,0.1);
                    padding-top: 50px;
                
                    #latest-month-year{
                        font-size: 30px;
                        color: #09c7e0;
                        font-weight: bolder;
                    }
    
                    #latest-day{
                        font-size: 60px;
                        color: #09c7e0;
                        font-weight: bolder;
                    }
    
                    #latest-event{
                        padding-top: 10px;
                    } 
                }
    
                .calendar-latest:hover{
                    transform: translateY(-20px) scale(1.1);
                    transition: 0.3s ease-in-out;
                }

                .wrapper{
                    width: 400px;
                    background: #fff;
                    border-radius: 10px;
                }
                .wrapper .header{
                    display: flex;
                    align-items: center;
                    padding: 25px 30px 10px;
                    justify-content: space-between;
                }
                .header .icons{
                    display: flex;
                }
                .header .icons span{
                    height: 38px;
                    width: 38px;
                    margin: 0 1px;
                    cursor: pointer;
                    color: #878787;
                    text-align: center;
                    line-height: 38px;
                    font-size: 1.9rem;
                    user-select: none;
                    border-radius: 50%;
                }
                .icons span:last-child{
                    margin-right: -10px;
                }
                .header .icons span:hover{
                    background: #f2f2f2;
                }
                .header .current-date{
                    font-size: 1.45rem;
                    font-weight: 500;
                }
                .calendar{
                    padding: 20px;
                }
                .calendar ul{
                    display: flex;
                    flex-wrap: wrap;
                    list-style: none;
                    text-align: center;
                }
                .calendar .days{
                    margin-bottom: 20px;
                }
                .calendar li{
                    color: #333;
                    width: calc(100% / 7);
                    font-size: 1.07rem;
                }
                .calendar .weeks li{
                    font-weight: 500;
                    cursor: default;
                }
                .calendar .days li{
                    z-index: 1;
                    cursor: pointer;
                    position: relative;
                    margin-top: 30px;
                }
                .days li.inactive{
                    color: #aaa;
                }
                .days li.active{
                    color: #fff;
                }
                .days li::before{
                    position: absolute;
                    content: "";
                    left: 50%;
                    top: 50%;
                    height: 40px;
                    width: 40px;
                    z-index: -1;
                    border-radius: 50%;
                    transform: translate(-50%, -50%);
                }
                .days li.active::before{
                    background: #09c7e0;
                }
                .days li:not(.active):hover::before{
                    background: #f2f2f2;
                }

                ol, ul {
                    padding-left: 0rem;
                }
            }
            
        }
    }

    .gallery{

        .containers{
            padding-left: 0;
            padding-right: 0;
            background-color: #E2FBFF;
            padding-top: 30px;

            .programs{
                width: 100%;
                overflow-x: auto;
                scrollbar-width: thin;
                scrollbar-color: #ccc #f1f4fd;
                display: flex;

                .program{
                    display: flex;
                    flex: 0 0 auto;
                    width: 250px;
                    object-fit: cover;
                    white-space: normal;
                    overflow-x: hidden;
                    transition: transform 0.3s ease-in-out;
                    background-size: cover;
                    background-position: center;

                    .content{
                        display: block;
                        padding: 45px;
                        opacity: 0;
                        color: white;
                        background-color: rgba(0,0,0,0.6);

                        .programname{
                            font-weight: 600;
                            font-size: 14px;
                            overflow: hidden;
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                                    line-clamp: 2;
                            -webkit-box-orient: vertical;

                        }

                        .programdef{
                            font-size: 12px;
                            padding-top: 3px;
                            text-align: justify;
                            overflow: hidden;
                            display: -webkit-box;
                            -webkit-line-clamp: 3;
                                    line-clamp: 3;
                            -webkit-box-orient: vertical;
                        }

                    }

                    &:hover{
                        .content{
                            opacity: 1;
                        }
                    }
                }
            }
            .programs::-webkit-scrollbar {
                height: 0px;
                width: 5px;
            }

            .programs:hover::-webkit-scrollbar {
                height: 10px;
                width: 5px;
                transition: width 0.5s ease-in-out;
            }

            .programs::-webkit-scrollbar-thumb {
                background-color: #09c7e0;
                border-radius: 100px;
                transition: background-color 0.5s ease-in-out;
            }

            .programs::-webkit-scrollbar-track {
                background-color: #ccc;
                border-radius: 100px;
            }

            .programs:hover::-webkit-scrollbar-track {
                background-color: #ccc;
                transition: background-color 0.5s ease-in-out;
            }

            .programs:hover::-webkit-scrollbar-thumb {
                background-color: #09c7e0;
                border-radius: 50px;
                transition: background-color 0.5s ease-in-out;
                transform: scaleX(1.5);
            }
        }
    }
 
    .latest-news{

        .containers{
            padding-top: 64px;
            padding-bottom: 64px;

            .latest-news-grid{
                display: grid;
                grid-template-columns: repeat(4,1fr);
                grid-gap: 16px;
    
                @media (max-width: 1024px){
                    grid-template-columns: repeat(2,1fr);
                }

                @media (max-width: 767px) {
					grid-template-columns: 1fr;
				}
    
                .news{
                    background-color: white;
                    border-radius: 2px;
                    overflow: hidden;
                    box-shadow: 0px 6px 12px rgba(0,0,0,0.1);

                    .news-img-box{
                        display: block;
                        width: 100%;
    
                        .news-img{
                            display: block;
                            width: 100%;
                            height: 150px;
                            object-fit: cover;
                        }
                    }
                    .news-content{
                        padding: 12px;
                        text-align: justify;
                        grid-column: span 3;

                        .news-date{
                            padding-top: 5px;
                            font-style: oblique;
                            font-size: 70%;
                            margin-bottom: 0;
                        }

                        .news-title{
                            font-weight: 600;
                            padding-top: 5px;
                            font-size: 12px;
                            margin-bottom: 0;
                            overflow: hidden;
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                                    line-clamp: 2;
                            -webkit-box-orient: vertical;

                        }

                        .news-def{
                            font-size: 60%;
                            padding-top: 5px;
                            overflow: hidden;
                            display: -webkit-box;
                            -webkit-line-clamp: 3;
                                    line-clamp: 3;
                            -webkit-box-orient: vertical;
                        }

                        .news-def{
                            font-size: 60%;
                            padding-top: 5px;
                            max-height: 50px;
                            text-overflow: ellipsis;
                            overflow: hidden;
                        }

                        .news-see-more{
                            grid-row: span 1;
                            font-size: 60%;
                            padding-top: 5px;
                            color: #09c7e0;
                        }

                    }
                        
                }
            }

        }
    }

    .alumnis{

        .containers{
            background-image: url('img/waves/wave3.png');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 600px;
            align-items: center;

            .alum{
                font-family: Oregon;
                padding-top: 20px;
            }
            
        }
    }

    .contact{
		background-color: white;

		.containers{
			padding-top: 64px;
			padding-bottom: 64px;

			.contact-form{
				display: grid;
                grid-template-columns: repeat(3,1fr);

                .contact-us-grid{
                    grid-column: span 1;
                    padding-right: 20%;
                    margin: auto;
                    
                    .get-in-touch{
                        font-size: 32pt;
                    }
                    .fill-get{
                        text-align: justify;
                        font-size: 12pt;
                    }
                
                  
                }

                .form-grid{
                    grid-column: span 2;
                    display: grid;
                    grid-template-columns: auto;
                    grid-gap: 10px;
                    

                    .form-text, .form-mes{
                        appearance: none;
                        border: none;
                        outline: none;
                        background: none;

                        display: block;
                        border: 1px solid;
                        border-radius: 5px;

                        padding: 12px;
                        font-size: 10pt;
                        color: #313131;

                        &::placeholder {
							color: #AAA;
						}
                    }
                }
			}

            .button{
                background-color: #34C1D5;
                display: flex;
                justify-content: flex-end;
                margin-left: auto;
                color: white;
            }
		}
	}
    
}

footer{
    background-color: #E2FBFF;

    .footer-container{
        max-width: 1600px;
        margin: 0 auto;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 30px;
        padding-bottom: 30px;
        display: grid;
        grid-template-columns: repeat(4,1fr);

        .footer-logo{
            width: 350px;
            height: auto;
        }
        .footer-quicklinks{
            text-align: center;
            grid-column:  span 2;
            display: block;
            font-size: 14px;

            .quicklinks{
                list-style: none;

                .arrow-left{
                    font-size: 20px;
                    position: relative;
                    top: 5px;
                    color: #34C1D5;
                }
            }

        }
        .footer-contacts{
            text-align: end;
            font-size: 14px;

            .contacts{
                list-style: none;
                padding: 2px;
            }

        }

        .f-links{
            color: black;
            text-decoration: none;
        }

        .footer-title{
            color: #34C1D5;
        }

    }    
}

@media (max-width: 767px) {
	.hide-mob {
		display: none;
	}
}


