@font-face {
    font-family: Oregon;
    src: url(../fonts/ORD_____.TTF);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}

.button{
    appearance: none;
    border: none;
    outline: none;
    background: none;

    display: inline-block;
    color: black;
    font-size: 14px;
    background-color: white;
    margin-top: 30px;
    padding: 15px 16px;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 200;
    cursor: pointer;
    text-decoration: none;

    @media (max-width: 767px) {
		font-size: 18px;
	}
}

.container{
    max-width: 1600px;
    margin: 0 auto;
    padding-left: 150px;
    padding-right: 150px;
    align-items: center;

    @media (max-width: 1024px){
        padding-left: 64px;
        padding-right: 64px;
    }

    @media (max-width: 767px) {
		padding-left: 32px;
		padding-right: 32px;
	}
}

section h2{
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #313131;
    font-size: 40px;
    font-weight: 550;
    text-decoration: wavy;
    font-family: Oregon;
}

img{
    max-width: 100%;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;

    .container{
        padding-top: 32px;
        padding-bottom: 32px;
        display: flex;
        justify-content: space-between; 
        

        #title-logo{
            width: 80px;
            height: auto;
        }

        #title-name{
            font-family:  Oregon;
            font-size: 35px;
        }

        .navbar{
            margin-left: auto;
            padding: 0.5rem 1.5rem;
            
            @media (max-width: 767px) {
                display: none;
            }
            
            .navlinks{
                display: flex;
                gap: 2rem;

                .navlink, .dropdown{
                    list-style: none;
                    height: 100%;
                    padding: 0.5rem;
                    font-weight: 600;
                    cursor: pointer;
                }

                .navlink a{
                    text-decoration: none;
                    color: currentColor;
                }

                .dropdown::before{
                    position: absolute;
                    content: '';
                    height: 20px;
                    width: 20px;
                    background: white;
                    left: 20px;
                    top: -2px;
                    transform: rotate(45deg);
                    z-index: -1;
                }

                .dropdown{
                    position: absolute;
                    margin: 1rem -0.5rem;
                    height: auto;
                    background: white;
                    color: black;
                    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
                    border-radius: 0.3rem;
                    font-size: 15px;
                    display: none;
                }

                .navlink:hover{
                    color: #09c7e0;
                }

                .dropdown-arrow:hover .dropdown{
                    display: block;
                }

                .dropdown-arrow a{
                    display: flex;
                }

                .dropdown-arrow .dropdown-icon{
                    font-size: 20px;
                    position: relative;
                    right: -5x;
                    transform: rotate(0deg);
                    transition: 0.3s ease-in-out all;
                }

                .dropdown-arrow:hover .dropdown-icon{
                    transform: rotate(180deg);
                }

                .dropdown li{
                    padding: 10px;
                    padding-left: 25px;
                    padding-right: 25px;
                }

                .dropdown li:hover{
                    color: #34C1D5;
                    border-radius:  0.5rem;

                }
            }
        }
    }

    &.is-scrolling {
		background-color: white;
        box-shadow: 0 1px 20px 0 rgba(0,0,0,.2);
		.container {
			padding-top: 16px;
			padding-bottom: 16px;
            border-radius: 20px;
		} 
	}

}

main{

    .banner{
        color: black;
        position: relative;
        min-height: 100vh;
        display: flex;
        align-items: center;
        padding-top: 80px;

        background-position: top;
        background-size: cover; 

        &:after{
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 0;
            background-color: #E2FBFF;
            opacity: 0.8;
        }
    
        .container{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 50px;
            z-index: 1;

            .banner-text{
                padding-left: 50px;

                #banner-logo{
                    width: 30%;
                    height: auto;
                    margin-top: 100px;
                }
    
                #main-title{
                    font-size: 65px;
                    font-family: Oregon;
                }
                #main-p{
                    margin-top: 20px;
                    font-size: 16px;
                    font-weight: 200;
                    margin-bottom: 10px;
                    line-height: 1.5;
                }
            }

            .banner-img{
                display: flex;
                align-items: center;
                padding-left: 50px;

                .slideshow-img{
                    grid-column: span 2;
                    max-width: 1000px;
                    position: relative;
                    margin: auto;
                    z-index: 2;
                    
                    .imgSlides {
                        display: none;
                        border-radius: 1rem;
                    }
        
                    .prev, .next {
                        cursor: pointer;
                        position: absolute;
                        top: 50%;
                        width: auto;
                        margin-top: -22px;
                        padding: 16px;
                        color: white;
                        font-weight: bold;
                        font-size: 18px;
                        transition: 0.6s ease;
                        border-radius: 0 3px 3px 0;
                        user-select: none;
                    }
        
                    .next {
                        right: 0;
                        border-radius: 3px 0 0 3px;
                    }
        
                    .prev:hover, .next:hover {
                        background-color: rgba(0,0,0,0.8);
                    }
    
                    .dots{
                        position: absolute;
                        bottom: 2%;
                        margin-left: auto;
                        margin-right: auto;
                        left: 0;
                        right: 0;
                        text-align: center;
                        
        
                        .dot{
                            cursor: pointer;
                            height: 10px;
                            width: 10px;
                            margin: 0 2px;
                            background-color: #636161;
                            border-radius: 50%;
                            display: inline-block;
                            transition: background-color 0.6s ease-in-out;
                        }
    
                        .dot:hover {
                            background-color: white;
                        }
    
                        .active {
                            background-color: white;
                        }
                    }
        
                    .fade {
                        animation-name: fade;
                        animation-duration: 1.5s;
                    }
        
                    @keyframes fade {
                        from {opacity: .8}
                        to {opacity: 1}
                    }
                }

                #hhh{
                    position: absolute;
                    background-color: #34C1D5;
                    width: 500px;
                    height: 300px;
                    border-radius: 10px;
                    z-index: 1;
                    margin-left: 70px;
                    margin-bottom: 70px;
                }
            }

            .banner-img:hover{
                transform: scale(1.1);
                transition: 0.3s ease-in-out;
            }

            .joinus{
                background-color: #09c7e0;
                color: white;
                margin-left: 10px;
            }
        }
    }

    .about-us{
        background-color: white;
        
        .container{
            padding-top: 64px;
			padding-bottom: 10px;
            display: grid;
            grid-template-columns: auto auto;
            grid-gap: 50px;
            

            .officers-img{
                height: 500px;
                width: 500px;
                position: relative;
                max-width: 1000px;
                
                .officers{
                    display: none;
                    border-radius: 1rem;
                }
    
                .prevv, .nextt {
                    cursor: pointer;
                    position: absolute;
                    top: 50%;
                    width: auto;
                    margin-top: -22px;
                    padding: 16px;
                    color: #34C1D5;
                    font-weight: bold;
                    font-size: 18px;
                    transition: 0.6s ease;
                    border-radius: 0 3px 3px 0;
                    user-select: none;
                }
    
                .nextt {
                    right: 0;
                    border-radius: 3px 0 0 3px;
                }
    
                .prevv:hover, .nextt:hover {
                    background-color: rgba(0,0,0,0.8);
                }

                .fadee{
                    animation-name: fadee;
                    animation-duration: 1.5s;
                }
    
                @keyframes .fadee{
                    from {opacity: .8}
                    to {opacity: 1}
                }
            }

            .officers-images{
                width: 400px;
            }
            .officers-images .officers {
                transition: transform 0.3s ease-in-out;
            }

            .officers:hover{
                transform: scale(1.1);
            }

            .slideshow-text{
                text-align: justify;
                line-height: 1.5;
            }
            
        }
        
    }

    .calendar{

        .container{
            background-image: url('img/waves/wave2.png');
            background-size: cover;
            padding-bottom: 50px;
            padding-top: 40px;
            display: grid;
            grid-template-columns: repeat(4,1fr);
            
            .activities{
                padding-top: 120px;
                grid-column: span 3;

                #calendar-ay{
                    font-family: Oregon;
                }

                .cal-link{
                    text-decoration: none;
                    font-size: 18px;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 2; /* number of lines to show */
                            line-clamp: 2; 
                    -webkit-box-orient: vertical;
                    margin: 5px;
                }

                .events{
                    margin-left: 10px;
                    margin-right: 80px;
                    display: grid;
                    grid-template-columns: repeat(10,1fr);
                    grid-gap: 10px;
    
                    .date-col1{
                        grid-column: span 2;
                        display: grid;
                        grid-template-rows: repeat(5,1fr);
                        grid-gap: 5px;
                        text-align: end;
                        font-weight: 550;
                    }
                    
                    .date-col1 a{
                        color: #09c7e0;
                        max-lines: 2;
                    }
                    
                    .event-col1{
                        grid-column: span 3;
                        display: grid;
                        grid-template-rows: repeat(5,1fr);
                        grid-gap: 5px;
                        
                    }
    
                    .date-col2{
                        grid-column: span 2;
                        display: grid;
                        grid-template-rows: repeat(5,1fr);
                        grid-gap: 5px;
                        text-align: end;
                        font-weight: 550;
                    }

                    .date-col2 a{
                        color: #09c7e0;
                    }
                    
                    .event-col2{
                        grid-column: span 3;
                        display: grid;
                        grid-template-rows: repeat(5,1fr);
                        grid-gap: 5px;
                    }
                }
            }

            .calendar-latest{
                grid-column: span 1;
                background-image: url('img/calendar/calendar.png');
                background-position: center;
                background-repeat: no-repeat;
                height: 380px;
                border-radius: 20px;
                display: flex;
                justify-content: center;
                text-align: center;
                align-items: center;
                padding-top: 30px;
                box-shadow: 0px 6px 12px rgba(0,0,0,0.1);
            
                #latest-month-year{
                    font-size: 30px;
                    color: #09c7e0;
                    font-weight: bolder;
                }

                #latest-day{
                    font-size: 60px;
                    color: #09c7e0;
                    font-weight: bolder;
                }

                #latest-event{
                    padding-top: 10px;
                } 
            }
            
        }
    }

    .acts {

        .container {
            background-color: #E2FBFF;
            padding-left: 250px;
            padding-right: 250px;
            padding-bottom: 64px;
            
            .slider-wrapper {
                width: 100%;
                overflow-x: auto;
                scrollbar-width: thin; /* For Firefox */
                scrollbar-color: #ccc #f1f4fd; /* For Firefox */
                display: flex;
                padding-bottom: 20px;
            }
    
            .acts-grid {
                display: flex;
                gap: 10px;
            }
    
            .actsel {
                flex: 0 0 auto; /* Prevent flex items from shrinking */
                width: 250px;
                object-fit: cover;
                white-space: normal;
                overflow-x: hidden;
                transition: transform 0.3s ease-in-out;
                margin-right: 10px; /* Adjust the margin to create space between items */
                margin-left: 10px;
            }
    
            .actsel:last-child {
                margin-right: 0; /* Remove margin for the last item */
            }
            .actsel:first-child {
                margin-left: 0; /* Remove margin for the last item */
            }
            
            .actsel:hover {
                transform: scale(1.05);
            }
    
            .acts-img {
                display: block;
                width: 100%;
                height: 150px;
                object-fit: cover;
                border-radius: 20px;
            }
    
            .acts-content {
                text-align: justify;
            }
    
            .acts-title {
                font-weight: 600;
                padding-top: 15px;
                font-size: 12px;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                        line-clamp: 2;
                -webkit-box-orient: vertical;
            }
    
            .acts-def {
                font-size: 60%;
                padding-top: 5px;
                max-height: 50px;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                        line-clamp: 3;
                -webkit-box-orient: vertical;
            }
    
            .button {
                grid-row: span 1;
                font-size: 60%;
                margin-top: 10px;
                margin-bottom: 10px;
                border-radius: 0;
                padding: 8px;
                color: white;
                background-color: #09c7e0;
            }

            .slider-wrapper {
                scrollbar-width: thin;
                scrollbar-color: black #ccc;
            }

            .slider-wrapper:hover {
                scrollbar-width: thin;
                scrollbar-color: black #ccc;
                transition: scrollbar-width 0.5s ease-in-out;
            }

            .slider-wrapper::-webkit-scrollbar {
                height: 2px;
                width: 10px;
            }

            .slider-wrapper:hover::-webkit-scrollbar {
                height: 10px;
                width: 10px;
                transition: width 0.5s ease-in-out;
            }

            .slider-wrapper::-webkit-scrollbar-thumb {
                background-color: black;
                border-radius: 100px;
                transition: background-color 0.5s ease-in-out;
            }

            .slider-wrapper::-webkit-scrollbar-track {
                background-color: #ccc;
                border-radius: 100px;
            }

            .slider-wrapper:hover::-webkit-scrollbar-track {
                background-color: #ccc;
                transition: background-color 0.5s ease-in-out;
            }

            .slider-wrapper:hover::-webkit-scrollbar-thumb {
                background-color: black;
                border-radius: 50px;
                transition: background-color 0.5s ease-in-out;
                transform: scaleX(1.5);
            }

            .slider-wrapper:hover::-webkit-scrollbar {
                width: 10px;
                transition: width 0.5s ease-in-out;
            }

            
            
            

            

            


            
            
        }
    }
    
    .latest-news{

        .container{
            padding-top: 64px;
            padding-bottom: 64px;

            .latest-news-grid{
                display: grid;
                grid-template-columns: repeat(4,1fr);
                grid-gap: 16px;
    
                @media (max-width: 1024px){
                    grid-template-columns: repeat(2,1fr);
                }

                @media (max-width: 767px) {
					grid-template-columns: 1fr;
				}
    
                .news{
                    background-color: white;
                    border-radius: 2px;
                    overflow: hidden;
                    box-shadow: 0px 6px 12px rgba(0,0,0,0.1);

                    .news-img-box{
                        display: block;
                        width: 100%;
    
                        .news-img{
                            display: block;
                            width: 100%;
                            height: 150px;
                            object-fit: cover;
                        }
                    }
                    .news-content{
                        padding: 16px;
                        text-align: justify;
                        grid-column: span 3;

                        .news-date{
                            padding-top: 8px;
                            font-style: oblique;
                            font-size: 70%;
                        }

                        .news-title{
                            font-weight: 600;
                            padding-top: 5px;
                            font-size: 12px;
                            min-height: 50px;
                            max-height: 50px;
                        }

                        .news-def{
                            font-size: 60%;
                            padding-top: 5px;
                            max-height: 50px;
                            text-overflow: ellipsis;
                            overflow: hidden;
                        }

                        .news-def{
                            font-size: 60%;
                            padding-top: 5px;
                            max-height: 50px;
                            text-overflow: ellipsis;
                            overflow: hidden;
                        }

                        .news-see-more{
                            grid-row: span 1;
                            font-size: 60%;
                            padding-top: 5px;
                            color: #09c7e0;
                        }

                    }

                        
                }
            }

        }
    }

    .alumnis{

        .container{
            background-image: url('img/waves/wave3.png');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 800px;
            
        }
    }

    /* .projects{
        padding-top: 64px;
        padding-bottom: 64px;
        background-color: #fff;

        .projects-grids{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-gap: 16px;
            margin-bottom: 32px;

            @media (max-width: 1024px){
                grid-template-columns: repeat(2, 1fr);
            }

            @media (max-width: 767px) {
				grid-template-columns: 1fr;
			}

            .project{
                background-image: url(img/slide/img2.png);
                border-radius: 16px;
                overflow: hidden;

                .content2{
                    color: white;
                    padding: 16px;
                    background-color: rgba(64,39,68,0.8);
                    opacity: 0;
                    transition: 0.4s;

                    .Projectname{
                        font-size: 32px;
                        margin-bottom: 16px;

                        @media (max-width: 1024px){
                            font: size 28px;
                        }
                    }
    
                    .Projectdef{
                        font-size: 18px;
                        margin-bottom: 16px;

                        @media (max-width: 1024px){
                            font: size 16px;
                        }
                    }
                }

                &:hover{
                    .content2{
                        opacity: 1;
                    }
                }
            }
        }

        .center{
            text-align: center;
        }
    } */

    .contact{
		background-color: white;

		.container{
			padding-top: 64px;
			padding-bottom: 64px;

			.contact-form{
				display: grid;
                grid-template-columns: repeat(3,1fr);

                .contact-us-grid{
                    grid-column: span 1;
                    padding-right: 20%;
                    margin: auto;
                    
                    .get-in-touch{
                        font-size: 32pt;
                    }
                    .fill-get{
                        text-align: justify;
                        font-size: 12pt;
                    }
                
                  
                }

                .form-grid{
                    grid-column: span 2;
                    display: grid;
                    grid-template-columns: auto;
                    grid-gap: 10px;
                    

                    .form-text, .form-mes{
                        appearance: none;
                        border: none;
                        outline: none;
                        background: none;

                        display: block;
                        border: 1px solid;
                        border-radius: 5px;

                        padding: 12px;
                        font-size: 10pt;
                        color: #313131;

                        &::placeholder {
							color: #AAA;
						}
                    }
                }
			}

            .button{
                background-color: #34C1D5;
                display: flex;
                justify-content: flex-end;
                margin-left: auto;
                color: white;
            }
		}
	}
    
}

footer{
    background-color: #E2FBFF;

    .footer-container{
        max-width: 1600px;
        margin: 0 auto;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 30px;
        padding-bottom: 30px;
        display: grid;
        grid-template-columns: repeat(4,1fr);

        .footer-logo{
            width: 350px;
            height: auto;
        }
        .footer-quicklinks{
            text-align: center;
            grid-column:  span 2;
            display: block;
            font-size: 14px;

            .quicklinks{
                list-style: none;

                .arrow-left{
                    font-size: 20px;
                    position: relative;
                    top: 5px;
                    color: #34C1D5;
                }
            }

        }
        .footer-contacts{
            text-align: end;
            font-size: 14px;

            .contacts{
                list-style: none;
                padding: 2px;
            }

        }

        .f-links{
            color: black;
            text-decoration: none;
        }

        .footer-title{
            color: #34C1D5;
        }

    }    
}

@media (max-width: 767px) {
	.hide-mob {
		display: none;
	}
}


