/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
    font-family: Oregon;
    src: url(../../fonts/ORD_____.TTF);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
   

/* TABLE PADDING */
th,td{
    padding: 10px;
}




/* BREAD CRUMB */
.brdupper{
    text-transform: uppercase;
    font-size: 12px;
}



/* TABS */
.tbs{
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    .tab {
        overflow: hidden;
        background-color: #34C1D5;

        .tablinks{
            text-transform: uppercase;
            font-size: 14px;
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            color: white;
        }

        .tablinks:hover {
            background-color: #E2FBFF;
            color: black;
            font-weight: bold;
        }
          
        .tablinks.active {
            background-color: white;
            color: black;
            font-weight: bold;
        }
    }

    .tbcon{
        .tabcontent{
            padding: 40px !important;
            background-color: white;
            display: none;
            padding: 6px 12px;

            .programs{

                @media (max-width: 550px) {
                    grid-template-columns: repeat(2,1fr);
                }

                @media (max-width: 400px) {
                    grid-template-columns: repeat(1,1fr);
                }

            }

            @media (max-width: 750px) {
                padding: 0 !important;
            }

            .con{
                padding: 30px;
                text-align: justify;
            }
        }

        .tbcontitle{
            color: #34C1D5;
            font-weight: 1000;
            padding-bottom: 20px;
            
        }
    }
}


/* CALENDAR GRID COLUMN RESIZING */
.cal-grp{
    display: grid;
    grid-template-columns: repeat(5,1fr);

    @media (max-width: 1000px){
        grid-template-columns: repeat(4,1fr);
    }

    @media (max-width: 800px){
        grid-template-columns: repeat(3,1fr);
    }

    @media (max-width: 700px){
        grid-template-columns: repeat(2,1fr);
    }

    @media (max-width: 500px){
        grid-template-columns: repeat(1,1fr);
    }

    .cal-pad{
        border: 1px solid rgba(0,0,0,0.2);
        padding: 20px;
    }

    .cal-day, .cal-my{
        color: black;
        font-weight: bold;
    }

    .cal-day{
        font-size: larger;
    }
}



/* GRAY OVERLAY FOR POPUP for Calendar*/
.overlayCal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
/* OPEN POPUP CONTENT for Calendar */
.popupCal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
}
/* CLOSE POPUP CONTENT for Calendar*/
.popupCal-close {
    position: absolute;
    top: 5px;
    right: 20px;
    font-size: xx-large;
    cursor: pointer;
    color: #fff;
}
/* BORDER for Calendar*/
.calpop{
    padding: 20px;
    border: rgba(0,0,0,0.2) 1px solid;
}


/* GRAY OVERLAY FOR POPUP for Gallery*/
.overlayGal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
/* OPEN POPUP CONTENT for Gallery*/
.popupGal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
}
/* CLOSE POPUP CONTENT for Gallery*/
.popupGal-close {
    position: absolute;
    top: 5px;
    right: 20px;
    font-size: xx-large;
    cursor: pointer;
    color: #fff;
}

/* PROGRAMS GRID WITH SCROLLBAR */
.programs{
    width: 100%;
    max-height: 2000px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #ccc #f1f4fd;
    display: grid;
    grid-template-columns: repeat(3,1fr);

    .program{
        object-fit: cover;
        white-space: normal;
        overflow-x: hidden;
        transition: transform 0.3s ease-in-out;
        background-size: cover;
        background-position: center;

        .content{
            display: block;
            padding: 45px;
            opacity: 0;
            color: white;
            background-color: rgba(0,0,0,0.6);

            .programname{
                font-weight: 600;
                font-size: 14px;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                        line-clamp: 2;
                -webkit-box-orient: vertical;

            }

            .programdef{
                font-size: 12px;
                padding-top: 3px;
                text-align: justify;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                        line-clamp: 3;
                -webkit-box-orient: vertical;
            }

        }

        &:hover{
            .content{
                opacity: 1;
            }
        }
    }
}
.programs::-webkit-scrollbar {
    height: 0px;
    width: 5px;
}
.programs:hover::-webkit-scrollbar {
    height: 10px;
    width: 5px;
    transition: width 0.5s ease-in-out;
}
.programs::-webkit-scrollbar-thumb {
    background-color: #09c7e0;
    border-radius: 100px;
    transition: background-color 0.5s ease-in-out;
}
.programs::-webkit-scrollbar-track {
    background-color: #ccc;
    border-radius: 100px;
}
.programs:hover::-webkit-scrollbar-track {
    background-color: #ccc;
    transition: background-color 0.5s ease-in-out;
}
.programs:hover::-webkit-scrollbar-thumb {
    background-color: #09c7e0;
    border-radius: 50px;
    transition: background-color 0.5s ease-in-out;
    transform: scaleX(1.5);
}


/* LATEST NEWS */
.latest-news-grid {
    display: flex;
    flex-wrap: wrap;
}
.news {
    width: 100%;
    margin-bottom: 20px;
    overflow: hidden;
    transition: transform 0.3s ease;
    padding: 20px;
}
.news-img-box {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.news-img {
    width: 100%;
    height: auto;
}
.news-title{
    font-weight: 800;
    text-transform: uppercase;
}
.news-date{
    font-size: smaller;
}



/* PAGINATION */
.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 20px 0;
    justify-content: center;
}
.pagination li {
    margin-right: 10px;
    cursor: pointer;
}
.pagination li a {
    text-decoration: none;
    color: #34C1D5;
    font-weight: bold;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
}
.pagination li a:hover {
    background-color: #34C1D5;
    color: #fff;
}
.pagination li a.active {
    background-color: #555;
    color: #fff;
}
#prevButton,
#nextButton {
      display: inline-block;
      margin: 0 5px;
      cursor: pointer;
}



/* FOOTER */
footer{
    background-color: white;
    padding-left: 100px;
    padding-right: 100px;
    align-items: center;
    transform: scale(0.95);

    #fttitle{
        font-weight: 800;
    }

    @media (max-width: 1460px){
        padding-left: 100px;
        padding-right: 100px;
    }

    @media (max-width: 1024px){
        padding-left: 64px;
        padding-right: 64px;
    }

    @media (max-width: 767px) {
		padding-left: 32px;
		padding-right: 32px;
	}
}

/* CHANGE FOOTER BACKGROUND WAVE TO NONE WHEN AT SMALLER SCREEN SIZE */
.ft{
    @media (max-width: 700px) {
        background-image: none;
        background-color: #E2FBFF;
    }
}


/* COPYRIGHT SECTION*/
.arr{
    padding-left: 100px;
    padding-right: 100px;
    transform: scale(0.95);

    @media (max-width: 1460px){
        padding-left: 100px;
        padding-right: 100px;
    }

    @media (max-width: 1024px){
        padding-left: 64px;
        padding-right: 64px;
    }

    @media (max-width: 767px) {
		padding-left: 32px;
		padding-right: 32px;
	}
}